{% extends 'base.jinja'%}

{% block content %}

<h1>builds</h1>

<main>
    <h2><a href="/builds/new"> Create new build</a></h2>
  <div>
    {% for build in builds  %}
    
        <h4><a href="/builds/{{ build.id }}"> Build order number {{build.id}} </a></h4>
            {% for user in users %}
                {% if user.id == build.user_id %}
                    <h5>{{user.first_name}} {{user.last_name}}</h5>
                {% endif %}
            {% endfor %}
    {% endfor %}
  </div>
</main>


{% endblock %}