{% extends 'base.jinja'%}

{% block content %}
<main class="bg__builds">
	<section class="container builds positionfix">
	<div class="builds__wrapper">
		<h1 class="builds___header">Builds</h1>
			<a href="/builds/new"><button class="builds__button">Create new build</button></a>
			<div class="builds__group">
				{% for build in builds  %}
					<div class="builds__group--entry">
						<h4 class="builds__title"><a style="text-decoration:none" href="/builds/{{ build.id }}"> Build order number {{build.id}} </a></h4>
							{% for user in users %}
								{% if user.id == build.user_id %}
									<h5 class="builds__username">{{user.first_name}} {{user.last_name}}</h5>
								{% endif %}
							{% endfor %}
					</div>
				{% endfor %}
			</div>
	</div>
	</section>
</main>
{% endblock %}