{% extends 'base.jinja' %}

{% block content %}

    <h1>Build order number: {{ build.id }}</h1>
    <h5>{{ build.users.first_name }} {{ build.users.last_name }}</h5>
    
    {% for component_entry in components %}
        <ul>
            <li>{{ component_entry.component.name }}</li>
            <li>{{ component_entry.component.description }}</li>
            <li>{{ component_entry.component.image_link }}</li>
        </ul>
    {% endfor %}

{% endblock %}