{% extends 'base.jinja' %}

{% block content %}
<main class="container showbuild">
    <h1 class="showbuild__header">Build order number: {{ build.id }}</h1>
    <h5 class="showbuild__username">{{ build.users.first_name }} {{ build.users.last_name }}</h5>
    
    {% for component_part in components %}
        <ul>
            <div class="showbuild__card">
                <li>{{ component_part.component.image_link }}</li>
                    <div class="showbuild__partdetails">
                        <li>{{ component_part.component.name }}</li>
                        <li>{{ component_part.component.description }}</li>
                        <li>{{ component_part.component.type }}</li>
                        <li>£{{ component_part.component.price }}</li>
                        <li>Product is made by {{ component_part.component.manufacturer }}</li>
                    </div>
            </div>
        </ul>
    {% endfor %}
    <div class="showbuild__status">
        {% if build.completed == True and build.delivered == True %}
            <h6>Build has been delivered</h6>
        {% elif build.completed == True and build.delivered != True %}
            <h6>Build has been completed, and will be delivered soon.</h6>
        {% else %}
            <h6>Build is pending.</h6>
        {% endif %}
    </div>
    <div class="showbuild__buttonwrapper">
        <div class="showbuild__statusbutton">
            <form action="/builds/{{ build.id }}/complete" method="POST">
                <button type="submit">Completed</button>
            </form>
            <form action="/builds/{{ build.id }}/deliver" method="POST">
                <button type="submit">Delivered</button>
            </form>
        </div>
        <div class="showbuild__edit--delete">
            <a href="/builds/{{ build.id}}/edit"><button class="showbuild__edit--button" type="submit">Edit Build</button></a>
            <form action="/builds/{{ build.id }}/delete" method="POST">
                <button class="showbuild__delete--button" type="submit" onclick="return confirm('Are you sure you want to delete this build?')">Delete Build</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}