<!DOCTYPE html>
<html>
<head>
  <title>Blackwater Computers</title>

  <link rel="stylesheet" href="/static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Share+Tech+Mono&family=Tektur:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">  
</head>
<body>
    <main>
    <nav class="header">
        <div class="container">
            <ul class="header__list">
                <li>
                    <a style="text-decoration:none" href="/">HOME</a>
                </li>
                <li>
                    <a style="text-decoration:none" href="/users">USERS</a>
                </li>
                <li>
                    <a style="text-decoration:none" href="/builds">BUILDS</a>
                </li>
                <li>
                    <a style="text-decoration:none" href="/components">COMPONENTS</a>
                </li>
            </ul>
        </div>
    </nav>
        <section class="content" id="content">
            {% block content %}

            {% endblock%}
        </section>
    </main>
</body>
</html>