<!DOCTYPE html>
<html>
<head>
  <title>Blackwater Computers</title>

  <link rel="stylesheet" href="/static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Share+Tech+Mono&family=Tektur:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">  
</head>
<body>
  <main>
  <nav class="header">
  <div class="container">
    <ul class="header__list">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/users">Users</a>
      </li>
      <li>
        <a href="/builds">Builds</a>
      </li>
      <li>
        <a href="/components">Components</a>
      </li>
    </ul>
  </div>
  </nav>
  <section id="content">
      {% block content %}

      {% endblock%}
  </section>
  </main>
</body>
</html>