{% extends 'base.jinja'%}

{% block content %}
<main class="bg">
    <section class="container positionfix users hero">
    <div class="hero__wrapper">
        <div class="hero__writing">
            <h1 class="hero__header">WELCOME TO BLACKWATER COMPUTERS</h1>
            <p class="hero__statement"> We're proud to offer the finest in custom built PC's.</p>
        </div>
        <img class="hero__image" src="/static/images/3xs-fluid-torrent-art2.jpg">
    </div>
    <div class="hero__wrapper">
    <img class="hero__image" src="/static/images/team_photo.jpeg">
    <p>Our award winning team of PC builders, enthusiasts and designers make it their mission to produce the finest PC's money can buy. When you buy a Blackwater Computer, you're buying into 16 years of hard earned knowledge and excellence, that means we guarantee perfect cable management, impeccable build quality, and attention to detail that you wont find in most PC builders. We're so confident that should you have an issue we'll ship the product back to us, fix the problem and throw in an upgrade for your trouble!</p>
    </div>
    </section>
</main>

{% endblock %}