{% extends 'base.jinja'%}

{% block content %}
<main class="bg">
    <section class="container positionfix users hero">
    <div class="hero__wrapper">
        <h1>WELCOME TO BLACKWATER COMPUTERS</h1>
        <p class="hero__statement"> We're proud to offer the finest in custom built PC's.</p>
    </div>
    </section>
</main>

{% endblock %}