{% extends 'base.jinja' %}

{% block content %}
<main class="bg__components">
    <section class="container sortcomponent positionfix">
        <h1 class="sortcomponent__header">{{ type }}'s</h1>
            <div class="sortcomponent__types">
                {% for component in components %}
                <div class="sortcomponent__types--type">
                <div class="sortcomponent__imagewrapper">
                    <img class="sortcomponent__image" src="{{component.image_link}}" alt="{{component.image_link}}">
                </div>
                    <p class="sortcomponent__name"><a style="text-decoration:none" href="/components/show/{{ component.id }}">{{ component.name }}</a></p>
                </div>
                {% endfor %}
            </div>
    </section>
</main>
{% endblock %}