{% extends 'base.jinja'%}

{% block content %}
<main>
    <h1>{{user.first_name}} {{user.last_name}}</h1>
        <h2>{{user.email}}</h2>
            <ul>
                {% for build in builds  %}
                    {% if build.user_id == user.id %}
                        <details>
                        {% set total = namespace(price = 0) %}
                            <summary><h4> Build order number {{build.id}} </h4></summary>
                            <div>
                                {% for component in build.componentlist %}
                                    {% for part in components %}
                                        {% if component.component_id == part.id %}
                                            <ul>
                                                <li>{{part.name}}</li>
                                                <li>{{part.description}}</li>
                                                <li>{{part.image_link}}</li>
                                                <li>£{{part.price}}</li>
                                            </ul>

                                            {% set total.price = total.price + part.price %}                        
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </details>
                        <div>
                            <h4>Total Price: £{{total.price}}</h4>
                        </div>
                            <div>
                                {% if build.completed == True and build.delivered == True %}
                                    <h6>Build has been delivered</h6>
                                {% elif build.completed == True and build.delivered != True %}
                                    <h6>Build has been completed, and will be delivered soon.</h6>
                                {% else %}
                                    <h6>Build is pending.</h6>
                                {% endif %}
                            </div>
                    {% endif %}
                {% endfor %}
            </ul>

</main>
{% endblock %}